<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="se.sics.sicstus.launching.launchConfigurationType1">
<booleanAttribute key="ATTR_ATTACH_TOPLEVEL" value="true"/>
<stringAttribute key="ATTR_EXECUTABLE" value="C:\Program Files (x86)\SICStus Prolog VC14 4.3.5\bin\sicstus.exe"/>
<stringAttribute key="ATTR_WORKING_DIRECTORY" value="C:\Users\up201505439"/>
<booleanAttribute key="REMOTE_ATTACH" value="false"/>
<booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
<stringAttribute key="process_factory_id" value="se.sics.sicstus.id.PrologProcessFactory"/>
</launchConfiguration>
